@charset "utf-8";


/*기초 CSS*/
body, h1, h2, h3, h4, h5, h6, ul, ol, dl, dt, dd, p {
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style: none;
}
a {
	font-weight: 400;
	text-decoration: none;
	color: #000;
}
img {
	max-width: 100%;
	vertical-align: top;
}
body {
	max-width: 100%;
}


/*추가 CSS*/
/*header*/
.wrapper {
	max-width: 100%;
	min-width: 320px;
}
#header {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	/* justify-content: space-between; */
	width: 100%;
	height: 100vh;
}
#header .logo,
#header .utils {
	position: absolute;
	display: block;
	margin: 20px 20px 0 20px;
	z-index: 9999;
}
#header .logo {
	width: 87px;
	height: 30px;
}
#header .utils {
	right: 0;
}
#header .utils ul {
	width: 100px;
}
#header .utils li {
	display: inline-block;
	width: 25px;
	margin-left: 20px;
}
#header .tab_menu {
	display: block;
	width: 40px;
	height: 40px;
	text-indent: -9999px;
	background: url(../images/menu.png) no-repeat 0 0;
}

/*menu*/
.menu {
	position: fixed;
	left: -100vw;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: #E5E5DD;
	transition: right 0.3s;
	box-sizing: border-box;
	z-index: 99999;
}
.menu.active {
	left: 0;
}
.menu .close {
	display: block;
	position: absolute;
	right: 30px;
	top: 30px;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
	background: url(../images/close.png) no-repeat 0 0;
}
#gnb {
	position: relative;
	margin-top: 5em;
	padding: 0 20px;
	height: calc(100% - 5em);
	overflow: auto;
}

#gnb .gnb_inner > ul > li {
	position: relative;
}
#gnb .gnb_inner > ul > li > a {
	display: block;
	line-height: 52px;
	text-indent: 20px;
	font-size: 1em;
	font-weight: 700;
	color: #0054A6;
	border-bottom: 1px solid #CBCFD5;
}
#gnb .gnb_inner > ul > li.active > a {
	color: #0054A6;
	border-bottom: none;
}
#gnb .gnb_inner > ul > li > ul > li {
	display: none;
	line-height: 30px;
	text-indent: 20px;
	font-size: 0.75em;
	color: #0054A6;
	border-bottom: 1px solid #CBCFD5;
}
#gnb .gnb_inner > ul > li.active > ul > li {
	display: block;
}
#gnb .gnb_inner > ul > li.active > ul > li > a {
	line-height: 40px;
	font-size: 1em;
	color: #000;
}
#gnb .gnb_inner > ul > li.active > ul > li:hover {
	display: block;
	background-color: #CBCFD5;
	color: #0054A6;
	border-bottom: none;
}



/*keyvisual*/
#header .keyvisual {
	margin-top: 0;
	width: 100%;
	overflow: hidden;
}
#header .keyvisual .gallery {
	position: relative;
	/* width: 400%; *//* jQuery에서 재지정됩니다. */
}
#header .keyvisual .gallery li {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;
	float: left;
	/* width: 25%; *//* jQuery에서 재지정됩니다. */
	overflow: hidden;
}
#header .keyvisual .gallery li.item1 {
	background: url(../images/key1.jpg) no-repeat center center;
	background-size: cover;
}
#header .keyvisual .gallery li.item2 {
	background: url(../images/key2.jpg) no-repeat center center;
	background-size: cover;
}
#header .keyvisual .gallery li.item3{
	background: url(../images/key3.jpg) no-repeat center center;
	background-size: cover;
}
#header .keyvisual .gallery li.item4 {
	background: url(../images/key4.jpg) no-repeat center center;
	background-size: cover;
}
#header .keyvisual .gallery li .item_text {
	display: inline-block;
}
#header .keyvisual .gallery li p {
	text-align: center;
	font-size: 1.4em;
	font-weight: 800;
	line-height: 1.5em;
	color: #E5E5DD;
}
#header .keyvisual .gallery li span {
	font-size: 70%;
	font-weight: 800;
	line-height: 1em;
	color: #ff0;
}
#header .keyvisual .controller {
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 100%;
	text-align: center;
}
#header .keyvisual .controller li {
	display: inline-block;
	margin: 0 2px;
	width: 20px;
	height: 10px;
}
#header .keyvisual .controller li a {
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -9999px;
	background-color: #fff;
	color: #fff;
	transition: background-color 0.3s, color 0.3s;
}
#header .keyvisual .controller li.active a {
	background: #0E77AF;
}

#header .keyvisual .direction_nav li {
	position: absolute;
	top: 50%;
	z-index: 12;
	margin-top: -20px;
	width: 20px;
}
#header .keyvisual .direction_nav li.left {
	left: 20px;
}
#header .keyvisual .direction_nav li.right {
	right: 20px;
}
#header .keyvisual .direction_nav li img {
	max-width: 100%;
}


/*content_about*/
#content .about {
	padding: 30px 20px;
	background-color: #E5E5DD;
	text-align: center;
}
#content .about .about_itgo dt {
	font-size: 1.2em;
	font-weight: 800;
	line-height: 1em;
	color: #0054A6;
}
#content .about .about_itgo dd {
	margin-top: 15px;
	font-size: 0.9em;
	line-height: 1.6em;
}
#content .about .service {
	margin-top: 30px;
}
#content .about .service dt {
	font-size: 1em;
	font-weight: 800;
	line-height: 1em;
	color: #0E77AF;
}
#content .about .service dd {
	margin-top: 8px;
	font-size: 0.9em;
	line-height: 1.6em;
}
#content .about .award {
	margin-top: 30px;
}
#content .about .award .award_title p {
	font-size: 1em;
	font-weight: 800;
	line-height: 1em;
	color: #0E77AF;
}
#content .about .award .award_img {
	margin-top: 15px;
}
#content .about .award .award_img li {
	margin-left: 5px;
	width: calc((100% - 10px)/3);
	float: left;
}
#content .about .award .award_img li:first-child {
	margin-left: 0;
}
#content .about .award .award_img li img {
	display: inline-block;
}
#content .about .award .award_more a {
	display: inline-block;
	width: 100%;
	margin-top: 18px;
	font-size: 0.9em;
	font-weight: 800;
	line-height: 1.6em;
}


/*content_notice&qna*/
#content .notice_qna {
	padding: 30px 20px;
	text-align: center;
}
#content .notice_qna .banner_title img {
	display: inline-block;
	vertical-align: middle;
}
#content .notice_qna .banner_btn {
	margin-top: 18px;
}
#content .notice_qna .banner_btn li {
	display: inline-block;

}
#content .notice_qna .banner_btn li a {
	display: inline-block;
	width: 120px;
	font-size: 0.9em;
	line-height: 2em;
	text-align: center;
	border: 2px solid #E5E5DD;
}
#content .notice_qna .banner_btn li.active a {
	font-weight: 800;
	color: #0054A6;
	border: none;
	background-color: #E5E5DD;
	border: 2px solid #E5E5DD;
}
#content .notice_qna .banner_list {
	margin-top: 10px;
	padding: 0 20px;
	text-align: left;
}
#content .notice_qna .banner_list div {
	display: none;
}
#content .notice_qna .banner_list div li { /* 2020-04-08 */
	border-bottom:1px solid #E5E5DD;
}
#content .notice_qna .banner_list div li a {
	font-size: 0.875em;
	line-height: 1em;
	padding: 11px 0; /* 2020-04-08 */
	display: block; /* 2020-04-08 */
	width: 100%; /* 2020-04-08 */
	overflow: hidden; /* 2020-04-08 */
	text-overflow: ellipsis; /* 2020-04-08 */
	white-space: nowrap;
}

#content .notice_qna .banner_list div.active{
	display: block; /* 2020-04-08 */
}

/*content_itgo_ad*/
#content .itgo_ad {
	padding: 30px 20px;
	background-color: #E5E5DD;
	text-align: center;
}
#content .itgo_ad .ad_title dt {
	font-size: 1.2em;
	font-weight: 800;
	line-height: 1em;
	color: #0054A6;
}
#content .itgo_ad .ad_title dd {
	margin-top: 8px;
	font-size: 0.9em;
	line-height: 1.6em;
}
#content .itgo_ad .ad_desc {
	display: inline-block;
	margin-top: 20px;
	width: 100%;
}
#content .itgo_ad .ad_desc .desc_l {
	padding-top: 15px;
	width: calc((100% - 10px)/2);
	float: left;
}
#content .itgo_ad .ad_desc .desc_l img {
	width: 100%;
}
#content .itgo_ad .ad_desc .desc_l p {
	margin-top: 8px;
	font-size: 0.9em;
	font-weight: 800;
	line-height: 1.3em;
}
#content .itgo_ad .ad_desc .desc_l span {
	color: #0E77AF;
}
#content .itgo_ad .ad_desc .desc_r {
	width: calc((100% - 10px)/2);
	float: right;
	text-align: right;
}
#content .itgo_ad .ad_desc .desc_r p {
	margin-top: 8px;
	font-size: 0.9em;
	font-weight: 800;
	line-height: 1.3em;

}
#content .itgo_ad .ad_desc .desc_r span {
	color: #0E77AF;
}
#content .itgo_ad .ad_desc .desc_r img {
	width: 90%;
	
}
#content .itgo_ad .ad_desc .desc_r .right_2019 {
	margin-top: 10px;
}

#content .itgo_ad .ad_more {
	display: inline-block;
	margin-top: 20px;
}
#content .itgo_ad .ad_more li {
	float: left;
	margin-left: 10px;
	text-align: center;
}
#content .itgo_ad .ad_more li:first-child {
	margin-left: 0;
}
#content .itgo_ad .ad_more li a {
	font-size: 0.875em;
	font-weight: 800;
	line-height: 1.3em;
}

/* content_ad_banner */
#content .main_slider {
	height: 230px;
}
#content .main_slider .swiper-container {
	width: 100%;
	height: 100%;
}
#content .main_slider .swiper-slide {
  /* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
}
#content .main_slider .swiper-slide:nth-child(1) {
	background: url(../images/ad_1.jpg) no-repeat center right;
	background-size: cover;
}
#content .main_slider .swiper-slide:nth-child(2) {
	background: url(../images/ad_2.jpg) no-repeat center center;
	background-size: cover;
}
#content .main_slider .swiper-slide:nth-child(3) {
	background: url(../images/ad_3.jpg) no-repeat center center;
	background-size: cover;
}
#content .main_slider .swiper-pagination-bullet {
	width: 10px;
	height: 10px;
	border-radius: 5px;
}
#content .main_slider .swiper-pagination-bullet-active {
	width: 30px;
}




/*child_coding*/
#content .child_coding {
	padding: 30px 20px 40px;
	text-align: center;
}
#content .child_coding .title {
	font-size: 1.2em;
	font-weight: 800;
	line-height: 1em;
	color: #0054A6;
	text-align: center;
}
#content .child_coding .banner {
	display: inline-block;
	margin-top: 20px;
}
#content .child_coding .banner li {
	width: calc((100% - 10px)/2);
	margin-left: 10px;
	float: left;
}
#content .child_coding .banner li:first-child {
	margin-left: 0;
}
#content .child_coding .banner li p {
	display: inline-block;
	margin-top: 10px;
	text-align: left;
	font-size: 0.875em;
	line-height: 1.3em;
}

/*itgo_study*/
#content .itgo_study {
	padding: 30px 20px 40px;
	text-align: center;
	background-color: #E5E5DD;
}
#content .itgo_study .title {
	font-size: 1.2em;
	font-weight: 800;
	line-height: 1em;
	color: #0054A6;
	text-align: center;
}
#content .itgo_study .btn {
	margin-top: 20px;
	width: 100%;
}
#content .itgo_study .btn li {
	display: inline-block;
	margin-left: 20px;
	width: 140px;
	background-color: #fff;
}
#content .itgo_study .btn li:first-child {
	margin-left: 0;
}
#content .itgo_study .btn li a {
	font-size: 0.875em;
	font-weight: 800;
	line-height: 2.5em;
	color: #0054A6;
}

/*Help*/
#content .help {
	display: inline-block;
	padding: 30px 20px 25px;
	text-align: center;
}
#content .help .title {
	display: inline-block;
	font-size: 1.2em;
	font-weight: 800;
	line-height: 1em;
	color: #002B7F;
	text-align: center;
	vertical-align: middle;
}
#content .help .tab {
	margin-top: 20px;
}
#content .help .tab .online {
	display: inline-block;
	margin-top: 20px;
	width: 100%;
}
#content .help .tab .online a .on_title {
	display: inline-block;
	float: left;
	color: #002B7F;
	font-size: 1em;
	font-weight: 700;
	vertical-align: middle;
}

#content .help .tab .online a .on_btn {
	display: inline-block;
	top: 50%;
	float: right;
}
#content .help .tab .online a .on_btn img {
	width: 23px;
	height: 23px;
}
#content .help .tab .online .on_desc {
	margin: 0 auto;
	display: none;
	padding: 30px 20px 20px 20px;
}
#content .help .tab .online.on .on_desc {
	display: inline-block;
}
#content .help .tab .online .on_desc .desc_input .name,
#content .help .tab .online .on_desc .desc_input .sub_name {
	height: 20px;
	width: 100%;
	border-radius: 4px;
	margin-top: 5px;
}
#content .help .tab .online .on_desc .desc_input .main_text {
	height: 100px;
	width: 100%;
	border-radius: 4px;
	margin-top: 5px;
}
#content .help .tab .online .on_desc .online_btn {
	display: inline-block;
	margin-top: 20px;
	width: 100%;
	text-align: center;
}
#content .help .tab .online .on_desc .online_btn input[type=submit] {
	display: block;
	padding: 0 10px;
	width: 100%;
	line-height: 40px;
	font-size: 0.93em;
	background-color: #002B7F;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#content .help .tel {
	margin-top: 7px;
	padding-top: 10px;
	float: left;
	width: 100%;
	text-align: left;
	border-top: 2px solid #E5E5DD;
}
#content .help .tel .tel_title {
	display: inline-block;
	float: left;
	color: #002B7F;
	font-size: 1em;
	font-weight: 700;
	vertical-align: middle;
}
#content .help .tel .tel_sub {
	display: inline-block;
	margin-top: 10px;
	width: 100%;
	vertical-align: middle;
}
#content .help .tel .tel_sub .sub_L {
	display: inline-block;
	width: calc((100% - 5px)/2);
	float: left;
	font-size: 0.75em;
	line-height: 1.5em;
	color: #000;
}
#content .help .tel .tel_sub .sub_R {
	display: inline-block;
	width: calc((100% - 5px)/2);
	float: right;
	font-size: 0.75em;
	font-weight: 800;
	color: #0E77AF;
}

/*footer*/
#footer {
	display: block;
	padding: 30px 20px 40px;
	text-align: left;
	color: #000;
	background-color: #CBCFD5;
}
#footer {
	padding: 30px 20px 40px;
	text-align: left;
	color: #000;
	background-color: #CBCFD5;
}
#footer .title {
	font-size: 1em;
	font-weight: 700;
}
#footer .company {
	margin-top: 10px;
	font-size: 0.75em;
	line-height: 1.6em;
}
#footer .copyright {
	margin-top: 10px;
	font-size: 0.75em;
	line-height: 1.6em;
}
#footer .copyright span {
	display: inline-block;
	margin-top: 10px;
	font-size: 1.2em;
	font-weight: 700;
}


